.container-fluid {
    font-size: x-large;
    }
    
    .buttons-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: static;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    body {
        background-image: url("quinnipiac-background.png");
        background-size: cover; /* Cover the entire page */
        background-repeat: no-repeat;
    }
    
    .btn {
        margin: 5px; /* Optional: adds a small space between buttons */
    }
    